// fonts
$fontRaleway: 'Raleway', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontKaushan: 'Kaushan Script', cursive;
$fontOpenSans: 'Open Sans', sans-serif;
$fontRegular: 400;
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 500;
$fontBlack: 900;

// Color
$colorPrimary: #F38281;
$colorOrange: #F4BF87;
$colorOrangeLight: #F9EFCF;
$colorBlack: #2D3033;
$colorAqua: #95E1D3;
$colorGrey: #C6CBCD;
$colorWhiteBg: #F8F8F8;


