header.header
    .container
        .header__logo 
            a(href='#').header__logo-link
                img(src="./images/logo/logo.svg", alt="logo").header__logo-img     
        ul.nav
            +nav(navLinks)
            li.nav__item
                a(href='#').nav__link
                    +svg('basket','nav__icon') 
                a(href='#').nav__link
                    +svg('glass', 'nav__icon')
        