header.header
    .container
        .header__logo 
            img(src="./images/logo/logo.svg", alt="logo").header__logo-img     
        ul.nav
            for i in navLinks 
                li.nav__item 
                    a(href=i.link)=i.name
            li.nav__item
                +svg('basket')
            li.nav__item  
                +svg('glass')