extends pug/base

block vars
  - var title = "Mogo"
  - var navLinks = [{link: "#", name: 'About'},{link: "#", name: 'Service'}, {link: "#", name: 'Work'}, {link: "#", name: 'Blog'}, {link: "#", name: 'Contact'}]

block content
  section.home 
    .container 
      p.home__subtitle  Creative Template
      h1.home__title  Welcome to MoGo
      div(class = 'separator separator--white separator--home') 
      button(class = 'home__button') learn more
      div(class = 'slider slider--home') 
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barFirst')
          .slider__title <span class ='bold'>01</span> intro 
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barSecond')
          .slider__title <span class ='bold'>02</span> work
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barThird')
          .slider__title <span class ='bold'>03</span> about
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barFour')
          .slider__title <span class ='bold'>04</span> contacts
  section.about
    .container 
      p.subtitle What we do
      h4.title story about us
      div(class = 'separator separator--red separator--about') 
      p.desc 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Eu facilisis sed venenatis lacus. Eget sit ridiculus facilisi amet. 
        | Dis sapien ipsum enim dui fermentum viverra dolor sit. Aliquet congue 
        | sit fermentum risus feugiat.
      .about-photos 
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamSecondPhoto.png", alt="super-team-photo").about-photos__img
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamSecondPhoto.png", alt="super-team-photo").about-photos__img
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamThirdPhoto.png", alt="super-team-photo").about-photos__img
  section.banner 
    .container 
      .banner__stats-wrapper
        p.banner__stats-number 42
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 123
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 15
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 99
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 24
        p.banner__stats-desc Lorem, ipsum.
block scripts 
  script(src = "./js/main.js" type="module")