extends pug/base

block vars
  - var title = "Mogo"
  - var navLinks = [{link: "#", name: 'About'},{link: "#", name: 'Service'}, {link: "#", name: 'Work'}, {link: "#", name: 'Blog'}, {link: "#", name: 'Contact'}]

block content
  

block scripts 
  script(src = "./js/main.js")