extends pug/base

block vars
  - var title = "Mogo"
  - var navLinks = [{link: "#", name: 'About'},{link: "#", name: 'Service'}, {link: "#", name: 'Work'}, {link: "#", name: 'Blog'}, {link: "#", name: 'Contact'}]

block content
  section.home 
    .container 
      p.home__subtitle  Creative Template
      h1.home__title  Welcome to MoGo
      div(class = 'separator separator--white separator--home') 
      button(class = 'home__button') learn more
      div(class = 'slider slider--home') 
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barFirst')
          .slider__title <span class ='bold'>01</span> intro 
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barSecond')
          .slider__title <span class ='bold'>02</span> work
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barThird')
          .slider__title <span class ='bold'>03</span> about
        .slider__bar
          .slider__bar-empty
            .slider__bar-loader(data-bar = 'barFour')
          .slider__title <span class ='bold'>04</span> contacts
  section.about
    .container 
      p.subtitle What we do
      h4.title story about us
      div(class = 'separator separator--red') 
      p.desc 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Eu facilisis sed venenatis lacus. Eget sit ridiculus facilisi amet. 
        | Dis sapien ipsum enim dui fermentum viverra dolor sit. Aliquet congue 
        | sit fermentum risus feugiat.
      .about-photos 
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamSecondPhoto.png", alt="super-team-photo").about-photos__img
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamSecondPhoto.png", alt="super-team-photo").about-photos__img
        a(href="#").about-photos__link 
          img(src="./images/about/superTeamThirdPhoto.png", alt="super-team-photo").about-photos__img
  section.banner 
    .container 
      .banner__stats-wrapper
        p.banner__stats-number 42
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 123
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 15
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 99
        p.banner__stats-desc Lorem, ipsum.
      .banner__stats-wrapper
        p.banner__stats-number 24
        p.banner__stats-desc Lorem, ipsum.
  section.work-services 
    .container
      p.subtitle We work with
      h4.title amazing services
      div(class = 'separator separator--red')
      .work-services__list.work-list
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('mushroom','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title photography
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('squares','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title web design
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('sword','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title creativity
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('paper','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title seo
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('picture','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title css/html
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .work-list__item 
          a(href="#").work-list__item-link 
            +svg('aim','work-list__item-icon')
          .work-list__item-inner
            p.work-list__item-title digital
            p.work-list__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  section.unique-design
    .container 
      p.subtitle For all  devices
      h4.title unique design
      div(class = 'separator separator--red')
      .unique-design__tablet 
        img(src="./images/devices/tablet-picture.png", alt="picture in tablet").unique-design__tablet-picture
        img(src="./images/devices/mobile.png", alt="mobile").unique-design__mobile



block scripts 
  script(src = "./js/main.js" type="module")